Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages/*
!packages/repositories.config
*/FakesAssemblies/*
White.Web/User.config
White.Web/gadget.xml
White.Web.Tests/FakesAssemblies/Grani.CoreLib.Fakes.messages
White.Web.Tests/FakesAssemblies/Grani.CoreLib.Fakes.xml
/*.vsp
/*.psess

!White.Web/Views/Debug/*
!White.Web/ViewModels/Debug/*

error-*.xml
White.Web/White.Web.csproj.orig
*.js.map
*.js
